.content-container{
  color:white;
  padding:20px;
  border-radius: 15px;
  height: 150px;
  width: 600px;
  background-color: rgb(23, 23, 23);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer{
  padding: 10px;
}

button{
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(75, 74, 74);
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  margin-bottom: -5px;
  margin-top: 5px;
} 